KSP_Data/*
GameData/Squad/*
KSP/thumbs/*
GameData/ModuleManager.ConfigCache
GameData/ModuleManager.ConfigSHA
GameData/ModuleManager.Physics
GameData/ModuleManager.TechTree
KSP.exe
KSP.log
saves/mks/Ships/VAB/Auto-Saved Ship.craft
saves/mks/Ships/VAB/Untitled Space Craft.craft
MiniAVC.log
PartDatabase.cfg
GameData/MechJeb2/Plugins/PluginData/MechJeb2/*.cfg
thumbs/*
