<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>1209</xmin>
        <xmax>1649</xmax>
        <ymin>332</ymin>
        <ymax>782</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>1325</xmin>
        <xmax>1525</xmax>
        <ymin>115</ymin>
        <ymax>251</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>692</xmin>
        <xmax>992</xmax>
        <ymin>69</ymin>
        <ymax>169</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>